<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActivityTheme"
        android:usesCleartextTraffic="true"
        android:name=".BaseApplication"
        android:enableOnBackInvokedCallback="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <meta-data
            android:name="com.microsoft.identity.client.ClientId"
            android:value="21c88d97-2d10-41df-8f34-b1ac4b83b686" /> <!-- Replace with your client ID -->
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MSAL BrowserTabActivity -->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="msauth"
                    android:host="com.axelliant.android_erp"
                    android:path="/mts5f/2GsEaaqZozKLzOqnhJJCQ=" />
            </intent-filter>
        </activity>
    </application>


</manifest>